<!DOCTYPE html>
<html>
  <head>
    <title>Rørosvinduet.no</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"> 
    <!-- Bootstrap -->
    <link href="{{ site.url }}css/bootstrap.css" rel="stylesheet" media="screen">
    
    <!-- Custom styling -->
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}css/global.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="myCarousel" class="carousel slide">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	          <img src="img/VinterRoros.jpg" alt="First slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Skapt for et langt og hardt liv.</h1>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="img/hytte.jpg" alt="Second slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Another example headline.</h1>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="img/kids.jpg" alt="Third slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>One more for good measure.</h1>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- carousel -->
		
	  	<div class="logoLine">
	  	
		  	<div class="container">
			  	<a href="#" class="brand"><img src="img/logo.png" /></a>
		  	</div>
	  	</div>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		  <a href="#" class="brand2"><img src="img/logo2.png" /></a>
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		  </div>
		
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <div class="container navInner">
		    
		    <ul class="nav nav-justified mainNav">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vinduer <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Røros Original Koblet</a></li>
		          <li><a href="#">Røros Vinduet Isoler</a></li>
		        </ul>
		      </li>
		      
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dører <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Speildører</a></li>
		          <li><a href="#">Paneldører</a></li>
		          <li><a href="#">Terrassedører</a></li>
		        </ul>
		      </li>
		      
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Om oss <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Historien</a></li>
		          <li><a href="#">Salg og produksjon</a></li>
		          <li><a href="#">Ledige stillinger</a></li>
		          <li><a href="#">Rørs miljø og kvalitet</a></li>
		        </ul>
		      </li>
		      
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kundeservice <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Kontaktinfo/ordrekontor og service</a></li>
		          <li><a href="#">Reklamasjoner/Natre skjema</a></li>
		          <li><a href="#">Ofte stilte spørsmål/servicehåndbok</a></li>
		          <li><a href="#">Salgs- og leveringsbetingelser</a></li>
		        </ul>
		      </li>
		    
		    
		    </ul></div><div class="stichline"></div>
		  </div><!-- /.navbar-collapse -->
		</nav>
		</div><!-- container end -->
		
			<div class="row thumbRow">
			<div class="stichline"></div>
			<div class="container">
			  <div class="col-sm-12 col-md-4 col-lg-4">
				    <div class="thumbnail">
				    	<div class="circle">
					      <div class="stichCircle">
					      	<img src="img/thumb1.jpg" alt="...">
					      	</div>
				    	</div><!-- circle -->
			      <div class="caption">
			        <h3>Vinduer</h3>
			        <p>Et isolervindu med 2 eller 3- lags glass med ulike utenpåliggende sprosse-løsninger. Kan kombineres med et utall hengsleløsninger og glassvalg.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-sm-12 col-md-4 col-lg-4">
			    <div class="thumbnail">
			    	<div class="circle">
				    	<div class="stichCircle">
							<img src="img/thumb2.jpg" alt="...">
				    	</div>
			    	</div><!-- circle -->
			      <div class="caption">
			        <h3>Montering</h3>
			        <p>Her kan du se hvordan du skal montere rørosvinduet. Filmen tar for seg alle detaljer og varer i 7 minutter.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-sm-12 col-md-4 col-lg-4">
			    <div class="thumbnail">
			    	<div class="circle">
				    	<div class="stichCircle">
							<img src="img/thumb3.jpg" alt="...">
				    	</div>
					</div><!-- circle -->
			      <div class="caption">
			        <h3>Dører</h3>
			        <p>Røros Døren har topp kvalitet ned til minste detalj. Døren er laget av vakuumimpregnert furu og leveres i mange forskjellige varianter for hus og hytte.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			</div><!-- row1 -->
			</div><!-- container end -->
			
			
			
			<div class="row tabRow">
			<div class="tabContainer">
				<div class="container">
					<ul class="nav nav-tabs nav-justified" id="myTab">
					  <li class="active"><a href="#home">Førsteklasses impregnering</a></li>
					  <li><a href="#profile">U-verdi</a></li>
					  <li><a href="#messages">Vedlikeholdsfritt</a></li>
					  <li><a href="#settings">Detaljer</a></li>
					</ul>
				</div><!-- container end -->
			</div>
				<div class="container">
					<div class="tab-content">
					  <div class="tab-pane active fade in" id="home">
					  	<div class="col-md-6">
							<h2>Tørt for evig og alltid</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="profile">
						<div class="col-md-6">
							<h2>Suveren på U-verdi</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="messages">
					  	<div class="col-md-6">
							<h2>No hassle</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="settings">
					  	<div class="col-md-6">
							<h2>Masse flott</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="img/u-verdi.png" alt=".." />
						</div>
					  </div>
					</div>
				</div><!-- container end -->
			
				
				
				
				
			</div><!-- row2 -->
		
		<footer>
		<div class="container">
			<div class="col-sm-6 col-md-4">
				<ul>
					<li><h4>Vinduer</h4></li>
					<li><a href="#">Lala</a></li>
					<li><a href="#">Lolo</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-4">
				<ul>
					<li><h4>Dører</h4></li>
					<li><a href="#">Lala</a></li>
					<li><a href="#">Lolo</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-4">
				<ul>
					<li><h4>Kontakt</h4></li>
					<li>7374 Røros<br />
						Tlf.: 72 40 63 00<br />
						Fax: 72 40 62 91<br />
						E-mail: <a href="#" class="mail">ordre.roros@roros-bruk.no</a><br /><br />
						Ring eller send oss en mail hvis du vil ha tilsendt brosjyre, prisliste og/eller monteringsanvisning.</li>
				</ul>
			</div>
			</div><!-- container end -->
			<div class="stichline whiteline"></div><p class="copyright">&copy; 2013 - <a href="http://isola.no">Isola AS</a></p>
		</footer>
		
		
		
  	
  
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/flowtype.js"></script>
    <script src="js/admin.js"></script>
    
    	  
   
  
  </body>
</html>