{% include header.inc %}
{% include carusell.inc %}
{% include logoline.inc %}
{% include menu.inc %}
		
			<div class="row thumbRow">
			<div class="stichline"></div>
			<div class="container">
			  <div class="col-sm-12 col-md-4 col-lg-4">
				    <div class="thumbnail">
				    	<div class="circle">
					      <div class="stichCircle">
					      	<img src="{{ site.url }}img/thumb1.jpg" alt="...">
					      	</div>
				    	</div><!-- circle -->
			      <div class="caption">
			        <h3>Vinduer</h3>
			        <p>Et isolervindu med 2 eller 3- lags glass med ulike utenpåliggende sprosse-løsninger. Kan kombineres med et utall hengsleløsninger og glassvalg.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-sm-12 col-md-4 col-lg-4">
			    <div class="thumbnail">
			    	<div class="circle">
				    	<div class="stichCircle">
							<img src="{{ site.url }}img/thumb2.jpg" alt="...">
				    	</div>
			    	</div><!-- circle -->
			      <div class="caption">
			        <h3>Montering</h3>
			        <p>Her kan du se hvordan du skal montere rørosvinduet. Filmen tar for seg alle detaljer og varer i 7 minutter.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-sm-12 col-md-4 col-lg-4">
			    <div class="thumbnail">
			    	<div class="circle">
				    	<div class="stichCircle">
							<img src="{{ site.url }}img/thumb3.jpg" alt="...">
				    	</div>
					</div><!-- circle -->
			      <div class="caption">
			        <h3>Dører</h3>
			        <p>Røros Døren har topp kvalitet ned til minste detalj. Døren er laget av vakuumimpregnert furu og leveres i mange forskjellige varianter for hus og hytte.</p>
			        <p><a href="#" class="bigLink">Les mer</a></p>
			      </div>
			    </div>
			  </div>
			</div><!-- row1 -->
			</div><!-- container end -->
			
			
			
			<div class="row tabRow">
			<div class="tabContainer">
				<div class="container">
					<ul class="nav nav-tabs nav-justified" id="myTab">
					  <li class="active"><a href="#home">Førsteklasses impregnering</a></li>
					  <li><a href="#profile">U-verdi</a></li>
					  <li><a href="#messages">Vedlikeholdsfritt</a></li>
					  <li><a href="#settings">Detaljer</a></li>
					</ul>
				</div><!-- container end -->
			</div>
				<div class="container">
					<div class="tab-content">
					  <div class="tab-pane active fade in" id="home">
					  	<div class="col-md-6">
							<h2>Tørt for evig og alltid</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="{{ site.url }}img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="profile">
						<div class="col-md-6">
							<h2>Suveren på U-verdi</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="{{ site.url }}img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="messages">
					  	<div class="col-md-6">
							<h2>No hassle</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="{{ site.url }}img/u-verdi.png" alt=".." />
						</div>
					  </div>
					  <div class="tab-pane fade" id="settings">
					  	<div class="col-md-6">
							<h2>Masse flott</h2>
							<p class="tabP">Vinduene kan leveres med en rekke alternative glassvalg.</p>
						</div>
						<div class="col-md-6">
							<img src="{{ site.url }}img/u-verdi.png" alt=".." />
						</div>
					  </div>
					</div>
				</div><!-- container end -->
			
				
				
				
				
			</div><!-- row2 -->
		
		{% include footer.inc %}